<!DOCTYPE html>
<html>
<head>
	<title>Assign Subject and Teacher</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

</head>
<body>


<div class="container-fluid">

<div class="col-lg-5 col-lg-offset-3 std_main" >
	<form>
         <div class="col-lg-12">
         	<h3 class="std_log">Assign Subject and Teacher</h3>
         </div>
		<div class="form-group">

			<div class="col-lg-12">
			<label class="col-lg-4 control-label">Teacher Id</label>
				<div class="input-group col-lg-8">
					<span class="input-group-addon std_fnt"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
					<input type="" class="form-control" name="" placeholder="Teacher Id"/>
				</div>
			</div>
		</div>


		<div class="form-group">
		     <div class="col-lg-12">
		   <label class="col-lg-4 control-label">Assign Class</label>
               <div class="input-group col-lg-8">
                  <span class="input-group-addon std_fnt" ><i  class="fa fa-file-text-o" aria-hidden="true"></i></span>	
                  <input type="" class="form-control" name="" placeholder="Class">
               </div>
		     </div>
		</div>

		<div class="form-group">
		     <div class="col-lg-12">
		   <label class="col-lg-4 control-label">Subject Name</label>
               <div class="input-group col-lg-8">
                  <span class="input-group-addon std_fnt" ><i  class="fa fa-file-text-o" aria-hidden="true"></i></span>	
                  <input type="" class="form-control" name="" placeholder="Subject Name">
               </div>
		     </div>
		</div>

		<div class="form-group">
		     <div class="col-lg-12">
		   <label class="col-lg-4 control-label">Assign By</label>
               <div class="input-group col-lg-8">
                  <span class="input-group-addon std_fnt" ><i class="fa fa-user" aria-hidden="true"></i></span>	
                  <input type="" class="form-control" name="" placeholder="Assign By">
               </div>
		     </div>
		</div>

		<div class="form-group">
		     <div class="col-lg-12">
		   <label class="col-lg-4 control-label">Assign Date</label>
               <div class="input-group col-lg-8">
                  <span class="input-group-addon std_fnt" ><i class="fa fa-calendar" aria-hidden="true"></i></span>	
                  <input type="" class="form-control" name="" placeholder="Assign Date">
               </div>
		     </div>
		</div>

				<div class="form-group">
		     <div class="col-lg-12">
		   <label class="col-lg-4 control-label">Authority</label>
               <div class="input-group col-lg-8">
                	
                 <button type="button" class="btn btn-info authory col-lg-12" data-toggle="collapse" data-target="#sahilso">Authority</button>
                 <div id="sahilso" class="collapse">
                    <div class="col-lg-12  marg_top pading_o">
                    	<div class="col-lg-4  pading_o">Role</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                    <div class="col-lg-12  marg_top pading_o">
                    	<div class="col-lg-4  pading_o">Student Detail</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                     <div class="col-lg-12 marg_top  pading_o">
                    	<div class="col-lg-4  pading_o">Fees</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                     <div class="col-lg-12 marg_top  pading_o">
                    	<div class="col-lg-4  pading_o">Notice</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                     <div class="col-lg-12 marg_top  pading_o">
                    	<div class="col-lg-4  pading_o">Notes</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                     <div class="col-lg-12 marg_top  pading_o">
                    	<div class="col-lg-4  pading_o">Assignments</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                     <div class="col-lg-12 marg_top  pading_o">
                    	<div class="col-lg-4  pading_o">Student Mark</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>

                     <div class="col-lg-12 marg_top  pading_o">
                    	<div class="col-lg-4  pading_o">Staff Detail</div>
                    	<div class="col-lg-8">
                    	  <button>Read</button>
                    	  <button>Unread</button>
                    	  <button>Delete</button>
                    	</div>
                    </div>



                 </div>
               </div>
		     </div>
		</div>

		
	</form>
</div>
	
</div>



</body>
</html>